.reveal section img {
    border: 0 none;
    background: none;
    box-shadow: none;
}

.reveal section img.angular-logo {
    width: 70px;
    display: inline-block;
    position: relative;
    margin: 0 0 -19px 0;
}
.reveal section img.skull {
    width: 70px;
    margin: 0 0 -19px 0;
}

h1.huge {
    font-size: 400px;
}

li.pros, li.cons {
    list-style: none;
}

li.pros:before {
    content: "＋";
    left: 10px;
    position: absolute;
}

li.cons:before {
    content: "－";
    left: 10px;
    position: absolute;
}

p.author-signature {
    text-align: right;
    font-style: italic;
}

div.overlay {
    padding: 10px;
    border-radius: 20px;
    background: black;
    background: rgba(0,0,0,0.3);
}
div.diagram, div.aside {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
}
div.aside>div {
    margin-left: 30px;
    margin-right: 30px;
}
div.diagram>div {
    border-radius: 15px;
    width: 300px;
    height: 400px;
    padding: 10px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    border: grey solid 5px;
    background-color: whitesmoke;
    color: black;
}
div.diagram h1,div.diagram h2,div.diagram h3,div.diagram h4,div.diagram h5 {
    color: darkblue;
}
div.diagram ul,div.diagram p {
    font-size: 30px;
}
.to-left {
    text-align: left;
}
.smaller {
    font-size: 32px;
}